<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<section id="home" class="video-hero" style="height: 700px; background-image: url(images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
<div class="overlay"></div>
  <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=56BY6PWwx_M',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
  <div class="display-t text-center">
    <div class="display-tc">
      <div class="container">
        <div class="col-md-12 col-md-offset-0">
          <div class="animate-box">
            <h2>Create balanced teams</h2>
            {% if user.is_authenticated %}
            <p>If a player is not already on the roster then click below to add them!</p>
                      <p> <a href="{% url 'create_player' %}" class="btn btn-primary">Add Players</a></p>

                                      <p> <a href="#roster" class="btn btn-primary">Pick Teams</a></p>
         {% else %}
           <p><a href="{% url 'signup' %}" class="btn btn-primary btn-lg btn-custom">Sign up</a></p>
         {% endif %}


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
